{% extends "base.html" %}
{% load static %}
{% block title %}Criar Categoria — Organizei{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions/create_category.css' %}">
{% endblock %}

{% block content %}
<section class="new-category">
    <header>
            <span class="back_button">
                <a class="back_button-link" id="back_button-link" href="{% url 'transactions:create_transaction' %}">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polyline points="15 18 9 12 15 6" />
                    </svg>
                </a>
            </span>
            <h2>Criar Categoria</h2>
        </header>
    
    <section class="add-new-category-container glass">
        <form method="post" class="form-transaction-container glass">
    {% csrf_token %}
    
        <section class="name_container name_input">
            <label for="name-input" class="name_label">Nome da Nova Categoria</label>
            <input type="text" 
                name="name"  
                id="name-input" 
                placeholder="Ex: Assinaturas, Lazer..." 
                required 
                class="input-box">
        </section>
        <button type="submit" class="button-glass">
            Salvar Categoria
        </button>
</form>
    </section>
</section>

{% endblock %}
{% block extra_js %}{% endblock %}